<div>
  <h1>
    {{title}}
  </h1>
  <h2>subtitle</h2>

  <br>
  {{mail.message}}
  <br>
  <br>
  <br>
  the api is: {{api}}

  <ul>
    <li *ngFor="let message of mail.messages">{{message.text}}</li>
  </ul>
  <br>
  <app-home>
    <app-simple-form *ngFor="let message of mail.messages"
                     [message]="message.text"
                     (update)="onUpdate(message.id, $event.text)"
    >
    </app-simple-form>
    <h2>The second line</h2>
    <div content>The content</div>
    <div class="with-class">The content marked with class</div>
  </app-home>

  <app-focus-input></app-focus-input>
  <nav>
    <a routerLink="/crisis-center" routerLinkActive="active">Crisis Center</a>
    <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
  </nav>
  <router-outlet></router-outlet>
</div>
